<h2><b> DateTime-Picker</b></h2>
  <div><form >
      <div *ngFor="let product of products">
    <div *ngIf="product.type == 'datetime'">
          <mat-form-field >
              <input matInput type="datetime" name="{{product.name}}"
              [formControl]="date"
              [matDatepicker]="picker" 
              [placeholder]="product.label" class="form-control"  required>
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Date is required</mat-error>        
          </mat-form-field>
          <p style="color:red" *ngIf="showError1">
            {{product.validations[1].message}}
            </p> 
            <p style="color:red" *ngIf="showError2">
                {{product.validations[2].message}}
            </p> 
        
     </div>
  
    
    <div *ngIf="product.type == 'button'" >
      <button id="btn" [disabled]="!date.valid" class="btn btn-primary" (click)="post(product.api.uri,date.value)">{{product.label}}</button>
        </div>
</div></form>

</div>


